<div class="container-fluid">
  <div class="row">
    <div class="col s12">
      <h1 class="center-align blue-text text-darken-4">
        {{title}}
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <img class="responsive-img" src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" alt="">
    </div>
    <div class="col s12">
      <h4 class="blue-text text-darken-4 center-align">What up bro bro. Click on your name bro bro.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <div>
        <ul class="collapsible" data-collapsible="accordion">
         <li>
           <div class="collapsible-header">Ben Lesh</div>
           <div class="collapsible-body"><p>Ohai Ben! How are those observables coming along?</p></div>
         </li>
         <li>
           <div class="collapsible-header">Jay Phelps</div>
           <div class="collapsible-body"><p>Hai JAE. aka JAE-QUERY. aka JAE-SON.</p></div>
         </li>
         <li>
           <div class="collapsible-header">James Kyle's Beard</div>
           <div class="collapsible-body"><p>Bro, I left some mac 'n cheese in your beard the other day.</p></div>
         </li>
         <li>
           <div class="collapsible-header">Jeff Cross's Beard</div>
           <div class="collapsible-body"><p>How did you feel that one time Jeff shaved you off? Do beards cry? Only when doves cry.</p></div>
         </li>
         <li>
           <div class="collapsible-header">Sam Saccone</div>
           <div class="collapsible-body"><p>Hai Sam! What intelligent things have you done today?</p></div>
         </li>
       </ul>
      </div>
    </div>
  </div>
</div>
